header {
    display: flex;
    height: 100px;
    /* background-color: blueviolet; */
    /* position: fixed; */
    width: 100%;
    box-shadow: 0px 0px 1px #999;

}

.menu-container {
    width: 100%;
    padding: 0 9%;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo h2 {
    flex: 1;
    font-size: 1.7rem;
    font-weight: 700;
    color: #383838;
}

ul>li a {
    display: flex;
    padding: 15px;
    font-size: 19px;
    font-weight: 400;
    color: #383838;
}

nav ul button {
    border: none;
    outline: none;
    color: #383838;
    cursor: pointer;
    background-color: #FAFAFA;
    font-size: 23px;
}

nav {
    align-self: center;
}


nav ul {
    display: flex;
    flex: 1;
}

#menu i {
    display: none;
    /* color: black; */
}

@media(max-width: 1170px) {
    nav ul {
        display: none;
        flex: 1;
        position: fixed;
        background-color: #4070f4;
        flex-direction: column;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0;
        justify-content: center;
        align-items: center;
    }

    #menu i {
        font-size: 40px;
        display: block;
    }
}