#apresentacaoPortfolio {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex: 1;
}

#apresentacaoTexto {
  padding: 170px;
  align-self: baseline;
  flex-direction: column;
  margin-top: auto;
}

#apresentacaoPortfolio a {
  background-color: #4070f4;
  color: #fff;
  padding: 15px;
  width: 200px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

#apresentacaoPortfolio #nome {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
}

#apresentacaoPortfolio #apresentacaoTexto h2 {
  font-size: 18px;
  font-weight: 400;

}

/* /////////////////////////////////////// */
#apresentacaoPortfolio #apresentacaoFoto #fundo {
  /* max-width: 730px; */
  width: 160%;
  position: absolute;
  right: 0;
  top: 17vh;
  display: flex;
  height: 83vh;
  flex-wrap: wrap-reverse;
}

#apresentacaoPortfolio #apresentacaoFoto,
#apresentacaoPortfolio #apresentacaoTexto{
  flex: 1;
}

#apresentacaoPortfolio #apresentacaoFoto {
  width: 70%;
  position: relative;
  height: 100vh;

}

.object {
  animation: MoveUpDown 2s linear infinite;
  -webkit-animation: MoveUpDown 2s linear infinite;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    max-width: 550px;
    width: 100%;
}

.object {
  -webkit-animation: action 1.2s infinite  alternate;
  animation: action 1.2s infinite  alternate;
}

@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }

  0% { transform: translateX(0); }
  100% { transform: translateX(-20px); }
}
@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
  
}

@media (max-width: 1000px) {
  #apresentacaoFoto {
    display: none;
  }


  #apresentacaoPortfolio {
    justify-content: center;
    text-align: center;
  }

  #apresentacaoTexto {
    margin-top: initial;
    align-self: center;
    display: flex;
  }
}