* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Space Mono",monospace;
    text-decoration: none !important;
    /* scroll-behavior: smooth; */
    /* color: #FAFAFA; */
    
}

.container{
    width: 100%;
    display: flex;
}

h1, h2, h3, h4, h5, h6, p {
    color: #0e2431;
}